name: app_project_files
description: "Flutter quiz application"
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  provider: 

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true
  fonts:
    - family: Ubuntu
      fonts:
        - asset: "assets/fonts/Ubuntu/Ubuntu-Light.ttf"
          weight: 300
        - asset: "assets/fonts/Ubuntu/Ubuntu-Regular.ttf"
          weight: 400
        - asset: "assets/fonts/Ubuntu/Ubuntu-Medium.ttf"
          weight: 500
        - asset: "assets/fonts/Ubuntu/Ubuntu-Bold.ttf"
          weight: 600
